@charset "utf-8";
/* CSS Document */

.flip_panel {
    width: 100%;
    height: 100%;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    transition: all .5s;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
}

.back {
    z-index: 1;
    transform: rotateY(180deg);  

    position: absolute;
    top: 0px;
    left: 0px;
}


.flip_panel:hover .front {
    z-index: 1;
    transform: rotateY(180deg);
}

.flip_panel:hover .back {
    z-index: 2;   
    transform: rotateX(0deg);
}

.TextOnTop {
    font-size: 13px;
    top:0;
    left:0;
    text-align: left;
    position:absolute;
    padding:8px;

}

